<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>


<!-- PHOTO CAROUSEL -->
<section id="carousel" class="extra-top-padding">
	<div class="scroller kinetic-active"> 
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/1.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/2.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/3.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/4.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/5.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/6.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/7.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/8.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/9.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/10.jpg", :alt=>"project image", :class=>"carousel-image") %>
		</div>
	</div>
</section>



<!-- ABOUT CODEOLOGY -->
<section id="about-codeology" class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h2 class="title is-2 has-text-black">About Codeology</h2>
        <p class="blurb is-size-5 is-size-6-mobile">
		Codeology is a UC Berkeley student club focused on self-exploration within the tech industry. 
		By offering hands-on experience through collaborative student projects and professional workshops, 
		we aim to bring the breadth of opportunities and roles within the tech field to Cal students, as 
		well as help our members explore their specific technical and professional interests. 
		<br>
		<br>
		We boast of having 60+ active members and alumni who have diverse interests and are highly motivated. 
		They contribute to a variety of research positions on campus as well as tech companies in the bay 
		area such as Uber, Google, Amazon, Samsung, Berkeley InterACT, ServiceNow, Facebook, Rubrik, The 
		Climate Corporation, Atlassian, Berkeley's Division of Data Sciences and more.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- VALUES -->
<section id="about-us" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Our Values</h2>
				<div class="columns">
					<div class="column is-one-third">
						<h5 class="subtitle is-3"><span class="is-codeology-yellow">EDUCATION</span></h5>
						<p class="is-size-6 blurb">Members lead practice interview sessions and professional 
						development workshops to help each other further their education.
						Codeology is here to support members in their personal and technical growth.
						</p>
					</div>
					
					<div class="column is-one-third">
						<h5 class="subtitle is-3"><span class="is-codeology-green">EXPLORATION</span></h5>
						<p class="is-size-6 blurb">Members gain exposure to a large breadth of industry-relevant 
						tools and technologies by building projects and developing their 
						professional skills at workshops lead by alumni and industry leaders. 
						</p>
					</div>
					
					<div class="column is-one-third">
						<h5 class="subtitle is-3"><span class="is-codeology-blue">COMMUNITY</span></h5>
						<p class="is-size-6 blurb">Codeology offers a supportive environment for members to grow within 
						the computer science community. We reward kindness and taking action in 
						order to foster an enjoyable and motivated culture that encourages 
						the sharing of ideas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- LEADERSHIP -->
<section id="leadership" class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10">
                <h2 class="title is-2 has-text-black">Leadership</h2>
                <div class="columns is-mobile is-multiline is-centered">
                    
                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/sera.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Sera Yang</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">President</h4>
                            </div>
                          </div>

                          <div class="content">
                            <p class="is-size-7 blurb">
                              SWE Intern @ Uber / Research Assistant @ BIDS 
                              <br>
                              <strong>Year:</strong> Junior
                              <br>
                              <strong>Interests:</strong> Running, Raising Plants, Crepes
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/jinsu.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Jinsu Elhance</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Vice-President</h4>
                            </div>
                          </div>

                          <div class="content">
                            <p class="is-size-7 blurb">
                              Tech Intern @ ArcSource Consulting / Curriculum Development @ DDS
                              <br>
                              <strong>Year:</strong> Sophomore
                              <br>
                              <strong>Interests:</strong> Hammocking, Potato Peels, Photography
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/sherman.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Sherman Luo</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Education Director</h4>
                            </div>
                          </div>
                          <div class="content">
                            <p class="is-size-7 blurb">
                              CS70 uGSI / Undergraduate Researcher @ InterACT
                              <br>
                              <strong>Year:</strong> Junior
                              <br>
                              <strong>Interests:</strong> Swimming, Cooking, Basketball, Teaching
                            </p>
                          </div>
                        </div>
                      </div>                    
                    </div>

                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/jaj.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Jiayue Li</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Technology Director</h4>
                            </div>
                          </div>
                          <div class="content">
                            <p class="is-size-7 blurb">
                              SDE Intern @ Expedia / Research Assistant @ BIDS
                              <br>
                              <strong>Year:</strong> Junior
                              <br>
                              <strong>Interests:</strong> Hiking, Traveling, Music
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/amanda.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Amanda Te</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Social Co-director</h4>
                            </div>
                          </div>
                          <div class="content">
                            <p class="is-size-7 blurb">
                              Software Engineering Intern @ Caulis
                              <br>
                              <strong>Year:</strong> Senior
                              <br>
                              <strong>Interests:</strong> Ballroom Dancing, Singing, Music Production, Videography, Adventures
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/calvin.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Calvin Chen</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Social Co-director</h4>
                            </div>
                          </div>
                          <div class="content">
                            <p class="is-size-7 blurb">
                              Software Engineering Intern @ Jobwell / Technical Intern at Starfish Network 
                              <br>
                              <strong>Year:</strong> Sophomore
                              <br>
                              <strong>Interests:</strong> Basketball, Making Drinks, Pancakes
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/jess.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Jessica Hsiao</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Media Director</h4>
                            </div>
                          </div>
                          <div class="content">
                            <p class="is-size-7 blurb">
                              iOS Development Intern @ GoGetter 
                              <br>
                              <strong>Year:</strong> Junior
                              <br>
                              <strong>Interests:</strong> Photography, Traveling, Noodles
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column is-half-tablet is-half-mobile is-one-quarter-desktop">
                      <div class="card">
                        <div class="card-image">
                          <figure class="image is-3by4">
			                    <%= image_tag("officers/lyric.jpg", :alt=>"placeholder officer image", :class=>"") %>
                          </figure>
                        </div>
                        <div class="card-content">
                          <div class="media">
                            <div class="media-content">
                              <h2 class="title is-4">Lyric Yu</h2>
                              <h4 class="subtitle has-text-weight-bold is-6">Industry Director</h4>
                            </div>
                          </div>
                          <div class="content">
                            <p class="is-size-7 blurb">
                              Software Developer Intern @ IBM 
                              <br>
                              <strong>Year:</strong> Junior
                              <br>
                              <strong>Interests:</strong> Classical Piano, Trendy Food, Matcha
                            </p>
                          </div>
                        </div>
                      </div> 
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- MEMBERS -->
<section id="members" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Members</h2>
				<p> Whoops! We'll be updating this page once general photoshoots are finished! </p>
			</div>
		</div>
	</div>
</section>

<!-- ALUMNI -->
<section id="alumni" class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<h2 class="title is-2 has-text-black">Alumni</h2>
				<p> Whoops! We'll be updating this page once general photoshoots are finished! </p>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		var mouseDown = (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0));

		if (!mouseDown) {
			$(".scroller").kinetic();
		}
	});
</script>