<% provide(:title, "Codeology | About") %>

<!-- PHOTO CAROUSEL -->
<section id="carousel" class="extra-vertical-padding">
	<div class="scroller kinetic-active">
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/1.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/2.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/3.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/4.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/5.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/6.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/7.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/8.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/9.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/10.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/11.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
		<div class="carousel-tile">
			<%= image_tag("about_carousel_images/12.jpg", :alt=>"about image", :class=>"carousel-image") %>
		</div>
	</div>
</section>



<!-- ABOUT CODEOLOGY -->
<section id="about-codeology" class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="is-size-1-tablet is-size-2-mobile">About Codeology</h2>
        <p class="blurb is-size-4 is-size-5-mobile">
          Codeology is a UC Berkeley student club focused on self-exploration within the tech industry.
          By offering hands-on experience through collaborative student projects and professional workshops,
          we aim to bring the breadth of opportunities and roles within the tech field to Cal students, as
          well as help our members explore their specific technical and professional interests.
          <br>
          <br>
          We boast of having 60+ active members and alumni who have diverse interests and are highly motivated.
          They contribute to a variety of research positions on campus as well as tech companies in the Bay
          area such as Uber, Google, Amazon, Samsung, Berkeley InterACT, ServiceNow, Facebook, Rubrik, The
          Climate Corporation, Atlassian, Microsoft, Expedia, IBM, Berkeley's Division of Data Sciences and more.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- VALUES -->
<section id="about-us" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 class="is-size-1-tablet is-size-2-mobile">Our Values</h2>
				<div class="row">
					<div class="col s12 m4">
						<h5 class="is-size-3 is-size-4-mobile"><span class="is-codeology-yellow">EDUCATION</span></h5>
						<p class="is-size-6 blurb">Members lead practice interview sessions and professional
						development workshops to help each other further their education.
						Codeology is here to support members in their personal and technical growth.
            Our club also has an interview scheduling web app for members and alumni.
						</p>
					</div>

					<div class="col s12 m4">
						<h5 class="is-size-3 is-size-4-mobile"><span class="is-codeology-green">EXPLORATION</span></h5>
						<p class="is-size-6 blurb">Members gain exposure to a large breadth of industry-relevant
						tools and technologies by building projects and developing their
						professional skills at workshops led by alumni and industry leaders.
						</p>
					</div>

					<div class="col s12 m4">
						<h5 class="is-size-3 is-size-4-mobile"><span class="is-codeology-blue">COMMUNITY</span></h5>
						<p class="is-size-6 blurb">Codeology offers a supportive environment for members to grow within
						the computer science community. We reward kindness and taking action in
						order to foster an enjoyable and motivated culture that encourages
						the sharing of ideas.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- LEADERSHIP -->
<section id="leadership" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 class="is-size-1-tablet is-size-2-mobile">Leadership</h2>
			</div>
					
      <% @leadership.each do |element| %>
        <div class="col s6 m3">
          <div class="card adjustable-size">
            <div class="card-image">
              <%= image_tag(element[:imgurl], :alt=>"placeholder officer image", :class=>"") %>
            </div>
            <div class="card-content">
              <p class="is-size-4"><%= element[:name] %></p>
              <p class="is-size-6"><%= element[:title] %></p>
            </div>
          </div>
        </div>
      <%end%>

		</div>
	</div>
</section>

<!-- MEMBERS -->
<section id="members" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 class="is-size-1-tablet is-size-2-mobile">Members</h2>
			</div>
					
      <% @members.each do |element| %>
        <div class="col s6 m3">
          <div class="card adjustable-size">
            <div class="card-image">
              <%= image_tag(element[:imgurl], :alt=>"placeholder officer image", :class=>"") %>
            </div>
            <div class="card-content">
              <p class="is-size-4"><%= element[:name] %></p>
              <p class="is-size-6"><%= element[:title] %></p>
            </div>
          </div>
        </div>
      <%end%>

		</div>
	</div>
</section>

<!-- ALUMNI -->
<section id="alumni" class="section">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 class="is-size-1-tablet is-size-2-mobile">Alumni</h2>
			</div>
					
      <% @alumni.each do |element| %>
        <div class="col s6 m3">
          <div class="card adjustable-size">
            <div class="card-image">
              <%= image_tag(element[:imgurl], :alt=>"placeholder officer image", :class=>"") %>
            </div>
            <div class="card-content">
              <p class="is-size-4"><%= element[:name] %></p>
              <p class="is-size-6"><%= element[:title] %></p>
            </div>
          </div>
        </div>
      <%end%>

		</div>
	</div>
</section>


<script type="text/javascript">
	$(document).ready(function(){
		var mouseDown = (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0));

		if (!mouseDown) {
			$(".scroller").kinetic();
		}
	});
</script>
