<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112912344-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112912344-1');
</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<!-- Calendar Landing -->
<section class="hero extra-top-padding">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 has-text-centered">
          <h1 class="title is-2 has-text-black">
            Events
          </h1>
          <h2 class="subtitle is-5 has-text-black">
            Codeology hosts workshops taught by its veteran members and industry workers to provide 
            our community with the opportunity to explore the tech space and to hone their professional
            skills. 
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Calendar Elements -->
<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <h2 class="title is-2 has-text-black">Upcoming Events</h2>
          
          <div class="columns is-multiline">
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("codeology_logo_padded.png", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">Applications Open</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Aug 24</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("codeology_logo_padded.png", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">1st Infosession</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Aug 29 8pm @ Wheeler 222</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("codeology_logo_padded.png", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">2nd Infosession</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Aug 30 8pm @ TBD</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("codeology_logo_padded.png", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">Applications Close</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Aug 31</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("codeology_logo_padded.png", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">Social Event (invite only)</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Sept 1</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("codeology_logo_padded.png", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">Applicant Interviews</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Sept 3 - Sept 5</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("events/indeed_logo.jpg", :alt=>"project image", :class=>"image") %>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <h5 class="project-card-title title is-5 has-text-black">Explore Tech Roles: An Indeed Infosession</h5>
                    </div>
                  </div>
                  <div class="content">
                    <p class="project-card-subtitle subtitle is-6 has-text-black">Sept 13 8-9pm @ Moffit 106</p>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- END OF NESTED COLUMNS -->
        </div> <!-- END OF COLUMN is-10 -->
        <!--
        <iframe src="https://calendar.google.com/calendar/embed?src=berkeley.edu_56kqrap61dpjkk0d8u2hh51na8%40group.calendar.google.com&ctz=America%2FLos_Angeles&mode=week" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        -->
      </div> <!-- END OF OUTER COLUMNS -->
  </div>
</section>