
<!-- STYLE SHEETS -->

<!-- LOADING SCREEN -->
<div id="loader">
</div>

<section id="landing" class="hero has-fixed-navbar is-fullheight landing is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
			<h1 class="landing-title has-text-white">Codeology.</h1>
			<h5 class="landing-blurb is-size-3 is-size-3-tablet is-size-5-mobile has-text-white">
			<span class="is-codeology-yellow">Education.</span> 
			<span class="is-codeology-green">Exploration.</span> 
			<span class="is-codeology-blue">Community.</span> 
			</h5>
			<a href="#about-us" class="button-fade is-size-3 is-size-5-mobile" id="landing-button-transition">Learn More</a>	
        </div>
    </div>
	<div class="hero-foot"></div>
</section>

<!-- ABOUT US -->
<section id="about-us" class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-10">
				<h2 class="title is-2 has-text-black">About us</h2>
				<p class="subtitle is-size-4 is-size-5-mobile" style="line-height:1.25;">
				<strong>Here at Codeology,</strong> we provide opportunities for you to explore the tech industry 
				in the context of a supportive community. 
				<br>
				Whether your interest lies in engineering software, conceptualizing designs, or managing product direction, 
				we offer interview preparation and workshops to help you hone your professional 
				skills.</p>
			    <%= link_to_nav_item "Read more >", about_us_path, :class => "is-codeology-blue is-size-3 is-size-4-mobile" %>
			</div>
		</div>
	</div>
</section>

<!-- PROJECTS -->
<section id="projects" class="section">
	<div class="container">
		<div class="columns  is-centered">
			<div class="column is-10">
				<h2 class="title is-2 has-text-black">Projects</h2>
				<p class="subtitle is-size-4 is-size-5-mobile" style="line-height:1.25;">
				<strong>This semester</strong> we'll be introducing projects as an opportunity for our
				 members to <strong>explore</strong> cool niches in tech, to gain <strong>experience</strong>
				 as developers, and to <strong>lead</strong> their own project teams.
				 </p>
			    <%= link_to_nav_item "Projects >", projects_path, :class => "is-codeology-green is-size-3 is-size-4-mobile" %>
				<div class="columns has-text-centered">
					<div class="column is-one-third">
						<%= image_tag(@project_0_url, :alt=>"project image") %>
						<p><%= @project_0_name %></p>
						<p><%= @project_0_blurb %></p>
					</div>
					<div class="column is-one-third">
						<%= image_tag(@project_1_url, :alt=>"project image") %>
						<p><%= @project_1_name %></p>
						<p><%= @project_2_blurb %></p>
					</div>
					<div class="column is-one-third">
						<%= image_tag(@project_2_url, :alt=>"project image") %>
						<p><%= @project_2_name %></p>
						<p><%= @project_2_blurb %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="columns">
		</div>
	</div>
</section>

<!-- EVENTS -->
<section id="events" class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-10">
				<h2 class="title is-2 has-text-black">Events</h2>
				<p class="subtitle is-size-4 is-size-5-mobile" style="line-height:1.25;">
				We host <strong>workshops</strong> and <strong>tech talks</strong> on campus from club members and industry workers that are open to the public.
				</p>
				
			    <%= link_to_nav_item "Calender >", calendar_path, :class => "is-codeology-yellow is-size-3 is-size-4-mobile" %>
			</div>
		</div>
	</div>
</section>


<!-- LEADERSHIP -->
<section id="leadership" class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-10">
				<h2 class="title is-2 has-text-black">Leadership</h2>
				<div class="columns is-multiline is-centered">
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
					<div class="column is-half-tablet is-one-quarter-desktop">
					<p>member</p>
					</div>
				</div>
				<%= link_to_nav_item "See All >", about_us_path(anchor: "members"), :class => "is-codeology-blue is-size-3 is-size-4-mobile" %>
			</div>
		</div>
		
	</div>
</section>

<!-- CONTACT -->
<section id="events" class="section">
	<div class="container">
		<div class="columns has-text-centered is-centered">
			<div class="column is-10">
				<h2 class="title is-2 has-text-black">Contact Us</h2>
				<p class="reverse">
				bluc.ygoloedoc@ofni
				</p>
			</div>
		</div>
	</div>
</section>

<!-- SPONSORS -->
<section id="sponsors" class="section">
	<div id="sponsors" class="has-text-centered container">
		<h3 class="title is-2 small-caps">OUR SPONSORS</h3>
		<h3 class="sub-header">- Mega Sponsor -</h3>
		<div class="card-group" id="all-sponsor-container">
			<div class="card" id="sponsor-container">
			<a href="https://www.climate.com/" target="_blank"><img class="card-img-top" src="climate_corp_logo.jpg" id="sponsor-logo"></a>
			</div>
		</div>
		<h3 class="sub-header">- Kilo Sponsor -</h3>
		<div class="card-group" id="all-sponsor-container">
			<div class="card" id="sponsor-container">
			<a href="https://rectifive.com/" target="_blank"><img class="card-img-top" src="rectifive_logo.jpg" id="sponsor-logo"></a>
			</div>
		</div>
	</div>
</section>
<!-- Script found in smoothScroll.js -->
<script type="text/javascript">
	addSmoothScroll();
</script>
