<% provide(:title, "Codeology | Home") %>

<section id="landing" class="landing is-fullheight has-fixed-navbar">
  <div class="container is-fullheight has-text-centered">
    <h1 class="landing-title white-text">Codeology.</h1>
    <h3 class="landing-blurb is-size-2-widescreen is-size-3-tablet is-size-4-mobile">
    <span class="is-codeology-yellow">Education.</span>
    <span class="is-codeology-green">Exploration.</span>
    <span class="is-codeology-blue">Community.</span>
    </h3>
    <div class="row has-text-centered">
      <div class="col s6 offset-s3 m4 offset-m4">
        <a href="#about-us" id="pulse-about-button" class="waves-effect waves-green btn is-round normal-caps white grey-text text-darken-4 pulse">Learn More</a>
      </div>
      <!--
      <div class="column is-3">
        <a href="https://goo.gl/forms/L7gzaXF7oDiMn7O43" class="button-fade is-size-4 is-size-5-mobile">Apply ></a>
      </div>
      -->
    </div>
  </div>
  <a class="section-anchor" id="about-us"></a>
</section>

<!-- ABOUT US -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="is-size-1 is-size-2-mobile">About Us</h2>
        <p class="flow-text" style="line-height:1.5;">
        <strong>Here at Codeology,</strong> we provide opportunities for you to explore the tech industry
        in the context of a supportive community.
        <br>
        Whether your interest lies in engineering software, conceptualizing designs, or managing product direction,
        we offer interview preparation and workshops to help you hone your professional
        skills.</p>

        <%= link_to_nav_item "Read more >", about_path, :class => "is-codeology-blue is-size-3 is-size-4-mobile" %>
      </div>
    </div>
  </div>
</section>

<!-- PROJECTS -->
<section id="projects" class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="is-size-1 is-size-2-mobile">Projects</h2>
        <p class="flow-text" style="line-height:1.5;">
        <strong>This semester</strong> we'll be introducing projects as an opportunity for our
          members to <strong>explore</strong> cool niches in tech, to gain <strong>experience</strong>
          as developers, and to <strong>lead</strong> their own project teams.
          </p>
        <!-- PROJECT CARDS HERE -->
        <!-- Three projects are chosen at random in the static_pages_controller and in Projects.rb -->
        <!-- These are sent as @projects and the html is created in _project-cards.html.erb which is then rendered here-->
        <%= render "layouts/project_cards" %>

        <!-- END OF PROJECTS-->
        <%= link_to_nav_item "All Projects >", projects_path, :class => "is-codeology-green is-size-3 is-size-4-mobile" %>
      </div>
    </div>
  </div>
</section>

<!-- EVENTS -->
<section id="events" class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="is-size-1 is-size-2-mobile">Events</h2>
                <p class="subtitle is-size-4 is-size-5-mobile" style="line-height:1.5;">
                We host <strong>workshops</strong> and <strong>tech talks</strong> on campus from club members and industry workers that are open to the public.
                </p>
                <%= link_to_nav_item "Our Calender >", calendar_path, :class => "is-codeology-yellow is-size-3 is-size-4-mobile" %>
            </div>
        </div>
    </div>
</section>


<!-- LEADERSHIP -->
<section id="leadership" class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="is-size-1 is-size-2-mobile">Leadership</h2>
      </div>

    <% @leadership.each do |element| %>
      <div class="col s6 m3">
        <div class="card adjustable-size">
          <div class="card-image">
            <%= image_tag(element[:imgurl], :alt=>"placeholder officer image", :class=>"") %>
          </div>
          <div class="card-content">
            <p class="is-size-4"><%= element[:name] %></p>
            <p class="is-size-6"><%= element[:title] %></p>
          </div>
        </div>
      </div>
    <%end%>

      <div class="col s12">
        <%= link_to_nav_item "See All >", about_path(anchor: "members"), :class => "is-codeology-blue is-size-3 is-size-4-mobile" %>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT -->
<section id="events" class="section">
    <div class="container">
        <div class="row has-text-centered">
            <div class="col s12">
                <h2 class="is-size-1 is-size-2-mobile">Contact Us</h2>
                <a class="reverse" href="mailto:info@codeology.club">
                bulc.ygoloedoc@ofni
                </a>
            </div>
        </div>
    </div>
</section>

<!-- SPONSORS -->
<section id="sponsors" class="section">
    <h3 class="has-text-centered is-size-2 is-size-3-mobile small-caps">OUR SPONSORS</h3>
    <div id="sponsor-cards" class="container">
        <h3 class="sub-header"></h3>
        <div class="card-group" id="all-sponsor-container">
            <div class="card hoverable" id="sponsor-container">
            <a href="https://www.samsara.com/" target="_blank"><img class="card-img-top" src="samsara_logo.png" id="sponsor-logo"></a>
            </div>
        </div>

        <h3 class="sub-header"></h3>
        <div class="card-group" id="all-sponsor-container">
            <div class="card hoverable" id="sponsor-container">
            <a href="https://www.indeed.com/" target="_blank"><img class="card-img-top" src="indeed_logo.jpg" id="sponsor-logo"></a>
            </div>
        </div>

        <h3 class="sub-header"></h3>
        <div class="card-group" id="all-sponsor-container">
            <div class="card hoverable" id="sponsor-container">
            <a href="https://www.atlassian.com/" target="_blank"><img class="card-img-top" src="atlassian_logo.jpg" id="sponsor-logo"></a>
            </div>
        </div>
    </div>
</section>
<!-- Script found in smoothScroll.js -->
<script type="text/javascript">
  addSmoothScroll();

  $('#pulse-about-button').on("click", function(){
    $('#pulse-about-button').removeClass("pulse");
  });

</script>
