<% provide(:title, "Codeology | Upcoming Interviews") %>

<section class="section">
  <div class="container is-fluid">
      
    <h1 class="title is-2   small-vertical-padding has-text-centered">Upcoming Interviews</h1>
    <h1 class="title is-5   ">Receiving Interviews</h1>
        
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Interviewer</th>
          <th>Language</th>
          <th>Location</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @mappedUpcomingReceiving.each do |receiving| %>
          <tr>
          <!-- TODO parse date and time for 1st and 2nd respectively -->
            <td><%= receiving[:interview].time.localtime.strftime("%m/%d/%y") %></td>
            <td><%= receiving[:interview].time.localtime.strftime("%I:%M %p") %></td>
            <td><%= receiving[:username] %></td>
            <td><% if receiving[:interview].is_python %>Python<% else %>Java<% end %></td>
            <td><% if receiving[:interview].is_videocall %>Videocall<% else %>On Campus<% end %></td>
            <% interview = receiving[:interview] %>
            <td><%= link_to 'Cancel', interview, method: :delete, data: { confirm: 'Are you sure you want to cancel this interview?' }, class: "button is-rounded is-danger is-outlined custom-button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h1 class="title is-5   ">Giving Interviews</h1>

    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Interviewee</th>
          <th>Language</th>
          <th>Location</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @mappedUpcomingGiving.each do |giving| %>
          <tr>
          <!-- TODO parse date and time for 1st and 2nd respectively -->
            <td><%= giving[:interview].time.localtime.strftime("%m/%d/%y") %></td>
            <td><%= giving[:interview].time.localtime.strftime("%I:%M %p") %></td>
            <td><%= giving[:username] %></td>
            <td><% if giving[:interview].is_python %>Python<% else %>Java<% end %></td>
            <td><% if giving[:interview].is_videocall %>Videocall<% else %>On Campus<% end %></td>
            <% interview = giving[:interview] %>
            <td><%= link_to 'Cancel', interview, method: :delete, data: { confirm: 'Are you sure you want to cancel this interview?' }, class: "button is-rounded is-danger is-outlined custom-button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>