<% provide(:title, "Log in") %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section id="sign-in" class="hero">
  <div class="hero-body" id="login-box">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2 has-text-black extra-top-padding">Member Login</h2>

        <%= form_for(:session, url: login_path) do |f| %>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.email_field :email, placeholder: 'email', class: 'input is-rounded' %>
              <span class="icon is-small is-left">
                  <i class="fa fa-lg fa-envelope-o"></i>
              </span>
          </p>
          </div>
          
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password, placeholder: 'password', class: 'input is-rounded' %>
              <span class="icon is-small is-left">
                  <i class="fa fa-lg fa-lock"></i>
              </span>
            </p>
          </div>
          <%= f.submit "Log in", class: "button is-rounded", style: "margin-top: 10px;"%> 
          <p class="signup-link"><%= link_to "Forgot password?", new_password_reset_path %></p>
          <p class="signup-link"><%= link_to "Resend activation link", new_account_activation_path %></p>
          <p class="signup-link">New user? <%= link_to "Sign up now!", signup_path %></p>
        <% end %>


      </div>
    </div>
  </div>
</section>