<% provide(:title, "Codeology | New Password") %>

<section class="is-fullheight">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h2 class="is-size-2 is-size-3-mobile extra-top-padding">Password Reset</h2>
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= hidden_field_tag :email, @user.email %>

        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <%=  f.password_field :password, class: '' %>
          <label for="user_password">password</label>          
        </div>
        
        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <%=  f.password_field :password_confirmation, class: '' %>
          <label for="user_password_confirmation">password</label>          
        </div>

        <%= f.submit "Reset Password", class: "btn waves-effect waves-green white black-text is-round normal-caps", style: "margin-top: 10px;"%> 
      <% end %>

    </div>
  </div>
</section>