<section class="section">
  <div class="container is-fluid has-text-centered">
    
    <h2 class="subtitle is-size-6 has-text-black">Codeology New Interview</h2>
    <p class="has-text-black"> 
      <% if @is_interviewee %>
      Hi <%= @user.name %>!
      You have created a booking with <%= @other_user.name%>. Their email is <%= @other_user.email%> and they will be interviewing you at
      <% else %>
      Hi <%= @user.name %>!
      <%= @other_user.name%> has created a booking with you. Their email is <%= @other_user.email%> and you will be interviewing them at
      <% end %>

      <%= @upcoming_interview.time.localtime.strftime("%m/%d/%y %I:%M %p") %>

      <%= link_to "Your Upcoming Interviews", upcoming_interviews_url %>
    </p>
        
  </div>
</section>