<% title = "Codeology | Update Feedback For " + @other_user.name %>
<% provide(:title, title) %>

<section id="edit" class="section">
  <div class="container">
    <div class="rows">
      <div class="col s12 m10 offset-m1 l8 offset-l2">

        <h3 class="has-text-centered small-vertical-padding">
        Feedback for <%if @is_interviewee%>interviewer <%else%>interviewee <%end%><%= @other_user.name%>
        </h3>

        <h5 class="has-text-centered">
        Language: <% if @past_interview.is_python %>Python<% else %>Java<% end %><br>
        Location: <% if @past_interview.is_videocall %>Videocall<% else %>On Campus<% end %>
        </h5>
        
        <article id="msg" class="message is-codeology-green">
          <div class="message-body is-codeology-green grey-text text-darken-4"> 
            <a onclick="closeMessage()" class="delete" style="cursor:pointer; float:right;"><i class="material-icons">close</i></a> 
            We appreciate you for taking the time to leave feedback! Leaving feedback helps our peers grow as students,
            interviewers, and engineers. As such you are playing an important part in a well-functioning Codeology. Thank you!
            <br><br>
            Tips: Be as concise as possible, provide rationale, cite specific examples whenever possible, and be constructive! :)
            <br><br>
            Bonus reading for giving general feedback: <a href="#feedback-modal" class="modal-trigger">click me</a>
          </div>
        </article>

        <div id="feedback-modal" class="modal">
          <div class="modal-content">
            <p class="image">
							<%= image_tag("resources/FBIFeedback.png", :alt=>"placeholder text", :class=>"") %>
            </p>
          </div>
        </div>
      </div>

      <div class="col m10 offset-m1 l8 offset-l2 small-vertical-padding">
        <%= form_tag("/past_interviews/" + @past_interview.id.to_s, method: "patch", autocomplete: "off") do %>
          <input autocomplete="off" name="hidden" type="text" style="display:none;">

          <div class="row">
        
            <% if !@is_interviewee %>
              <div class="col s12 input-field">
                <i class="material-icons prefix">rate_review</i>
                <textarea id="feedback_interviewee" class="materialize-textarea" name="feedback_interviewee" rows="8"><%= @past_interview.feedback_interviewee%></textarea>   
                <label for="feedback_interviewee" class="label">Help <%=@other_user.name%> get better!</label>
              </div>
              
              <div class="col s12 m4 input-field tooltipped" data-position="bottom" data-tooltip="How were their technical skills?">
                <i class="material-icons prefix">build</i>
                <select id="technical" name="technical">
                  <% i = 1 %>
                  <% while i < 5 do %>
                    <% if @past_interview.technical_score == i %>
                      <option selected><%=i%></option>
                    <% else %>
                      <option><%=i%></option>
                    <% end %>
                    <% i += 1 %>
                  <% end %>
                </select>
                <label class="label">Technical Score</label>
              </div>
              
              <div class="col s12 m4 input-field tooltipped" data-position="bottom" data-tooltip="How was their problem solving ability?">
                <i class="material-icons prefix">lightbulb</i>
                <select id="problem_solving" name="problem_solving">
                  <% i = 1 %>
                  <% while i < 5 do %>
                    <% if @past_interview.problem_solving_score == i %>
                      <option selected><%=i%></option>
                    <% else %>
                      <option><%=i%></option>
                    <% end %>
                    <% i += 1 %>
                  <% end %>
                </select>
                <label class="label">Problem Solving Score</label>
              </div>
              
              <div class="col s12 m4 input-field tooltipped" data-position="bottom" data-tooltip="What about their communication ability?">
                <i class="material-icons prefix">format_quote</i>
                <select id="communication" name="communication">
                  <% i = 1 %>
                  <% while i < 5 do %>
                    <% if @past_interview.communication_score == i %>
                      <option selected><%=i%></option>
                    <% else %>
                      <option><%=i%></option>
                    <% end %>
                    <% i += 1 %>
                  <% end %>
                </select>
                <label class="label">Communication Score</label>
              </div>


            <% else %>


              <div class="col s12 input-field">
                <i class="material-icons prefix">rate_review</i>
                <textarea id="feedback_interviewer" class="materialize-textarea" name="feedback_interviewer"><%= @past_interview.feedback_interviewer%></textarea>   
                <label for="feedback_interviewer" class="label">Help <%=@other_user.name%> get better!</label>
              </div>

              <div class="col s12 m4 input-field tooltipped" data-position="bottom" data-tooltip="How excited would you be to work with them?">
                <i class="material-icons prefix">whatshot</i>
                <select id="excitement" name="excitement">
                  <% i = 1 %>
                  <% while i < 5 do %>
                    <% if @past_interview.excitement_score == i %>
                      <option selected><%=i%></option>
                    <% else %>
                      <option><%=i%></option>
                    <% end %>
                    <% i += 1 %>
                  <% end %>
                </select>
                <label class="label">Excitement Score</label>
              </div>
              
              <div class="col s12 m4 input-field tooltipped" data-position="bottom" data-tooltip="How good were the questions?">
                <i class="material-icons prefix">question_answer</i>
                <select id="question" name="question">
                  <% i = 1 %>
                  <% while i < 5 do %>
                    <% if @past_interview.question_score == i %>
                      <option selected><%=i%></option>
                    <% else %>
                      <option><%=i%></option>
                    <% end %>
                    <% i += 1 %>
                  <% end %>
                </select>
                <label class="label">Question Score</label>
              </div>
              
              <div class="col s12 m4 input-field tooltipped" data-position="bottom" data-tooltip="How helpful was your interviewer in guiding you to the solution(s)?">
                <i class="material-icons prefix">map</i>
                <select id="helpfulness" name="helpfulness">
                  <% i = 1 %>
                  <% while i < 5 do %>
                    <% if @past_interview.helpfulness_score == i %>
                      <option selected><%=i%></option>
                    <% else %>
                      <option><%=i%></option>
                    <% end %>
                    <% i += 1 %>
                  <% end %>
                </select>
                <label class="label truncate">Helpfulness Score</label>
              </div>
            <% end%>
    
            <input type="submit" name="commit" value="Submit" class="btn white black-text is-round normal-caps" style="margin-top: 10px;" data-disable-with="Submit">
          </div>
        <% end %>

      </div>
    </div>     
  </div>
</section>

<script type="text/javascript">
  function closeMessage() {
    $("#msg").css('display', 'none');
  }
    
  $('.tooltipped').tooltip();
  $('.modal').modal();
  $('select').formSelect();

</script>
