<% provide(:title, "Codeology | Completed Interviews") %>

<section class="section">
  <div class="container is-fluid">
      
    <h1 class="title is-2   small-vertical-padding has-text-centered">Completed Interviews</h1>
    <h1 class="title is-5   ">Received Interviews</h1>
        
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Interviewer</th>
          <th>Language</th>
          <th>Location</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @mappedPastReceiving.each do |receiving| %>
          <tr>
          <!-- TODO parse date and time for 1st and 2nd respectively -->
            <td style="vertical-align:middle;"><%= receiving[:interview].time.localtime.strftime("%m/%d/%y") %></td>
            <td style="vertical-align:middle;"><%= receiving[:interview].time.localtime.strftime("%I:%M %p") %></td>
            <td style="vertical-align:middle;"><%= receiving[:username] %></td>
            <td style="vertical-align:middle;"><% if receiving[:interview].is_python %>Python<% else %>Java<% end %></td>
            <td style="vertical-align:middle;"><% if receiving[:interview].is_videocall %>Videocall<% else %>On Campus<% end %></td>
            <% interview = receiving[:interview] %>
            <td style="vertical-align:middle;"><%= link_to 'View', past_interview_path(interview), class: "button is-rounded is-success is-outlined custom-button" %></td>
            <td style="vertical-align:middle;"><%= link_to 'Edit', edit_past_interview_path(interview), class: "button is-rounded is-info is-outlined custom-button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h1 class="title is-5   ">Given Interviews</h1>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Interviewee</th>
          <th>Language</th>
          <th>Location</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @mappedPastGiving.each do |giving| %>
          <tr>
          <!-- TODO parse date and time for 1st and 2nd respectively -->
            <td style="vertical-align:middle;"><%= giving[:interview].time.localtime.strftime("%m/%d/%y") %></td>
            <td style="vertical-align:middle;"><%= giving[:interview].time.localtime.strftime("%I:%M %p") %></td>
            <td style="vertical-align:middle;"><%= giving[:username] %></td>
            <td style="vertical-align:middle;"><% if giving[:interview].is_python %>Python<% else %>Java<% end %></td>
            <td style="vertical-align:middle;"><% if giving[:interview].is_videocall %>Videocall<% else %>On Campus<% end %></td>
            <% interview = giving[:interview] %>
            <td style="vertical-align:middle;"><%= link_to 'View', past_interview_path(interview), class: "button is-rounded is-success is-outlined custom-button" %></td>
            <td style="vertical-align:middle;"><%= link_to 'Edit', edit_past_interview_path(interview), class: "button is-rounded is-info is-outlined custom-button" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>