<% provide(:title, "Codeology | Edit User") %>

<section id="edit" class="hero">
  <div class="row has-text-centered">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <h3 class="extra-top-padding">Edit User</h3>
      
      <%= render 'layouts/error_messages' %>
      
      <%= form_for(@user) do |f| %>
        <div class="input-field">
          <i class="material-icons prefix">person_outline</i>
          <%= f.text_field :name, class: '' %>
          <label for="user_name">name</label>  
        </div>

        <div class="input-field">
          <i class="material-icons prefix">mail_outline</i>
          <%= f.email_field :email, class: '' %>
          <label for="user_email">email</label>
        </div>

        <%= f.submit "Submit Changes", class: "btn is-round normal-caps white grey-text text-darken-4", style: "margin-top: 10px;"%> 
      <% end %>
      
    </div>
  </div>
</section>
