<% provide(:title, "Codeology | Users") %>

<section class="section">
  <div class="container is-fluid has-text-centered">
      
      <h1 class="title is-2 has-text-black">All Members</h1>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="is-size-6 is-size-7-mobile" style="vertical-align:middle;"><%= user.name %></td>
            <td class="is-size-6 is-size-7-mobile" style="vertical-align:middle;"><%= user.email %></td>
            <td class="is-size-6 is-size-7-mobile" style="vertical-align:middle;"><%= link_to 'View', user, class: "button is-rounded is-success is-outlined custom-button" %></td>
            <% if is_admin? %>  
              <td class="is-size-6 is-size-7-mobile" style="vertical-align:middle;"><%= link_to 'Edit', edit_user_path(user), class: "button is-rounded is-info is-outlined custom-button" %></td>
              <!-- Destroy is much more humorous than delete and so it shall remain -->
              <td class="is-size-6 is-size-7-mobile" style="vertical-align:middle;"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure? This CANNOT be undone' },
              class: "button is-rounded is-danger is-outlined custom-button" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</section>