<% provide(:title, "Codeology | New User") %>

<section class="is-fullheight">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h2 class="is-size-2 is-size-3-mobile extra-top-padding">Sign Up</h2>
      <%= render 'layouts/error_messages' %>

      <%= form_for(@user) do |f| %>

      <div class="input-field">
        <i class="material-icons prefix">person_outline</i>
        <%= f.text_field :name, class: '' %>
        <label for="user_name">username</label>  
      </div>

        
      <div class="input-field">
        <i class="material-icons prefix">mail_outline</i>
        <%= f.email_field :email, class: '' %>
        <label for="user_email">email</label>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :password, class: '' %>
        <label for="user_password">password</label>          
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :password_confirmation, class: '' %>
        <label for="user_password_confirmation">password confirmation</label>          
      </div>

      <div class="input-field">
        <i class="material-icons prefix">fingerprint</i>
        <input class="" type="password" value name="secret_code" id="secret_code">
        <label for="secret_code">super secret code</label>                        
      </div>

        <%= f.submit "Sign up", class: "btn white black-text is-round normal-caps", style: "margin-top: 10px;"%> 
        <p class="signup-link">Already a user? <%= link_to "Log in!", login_path %></p>
      <% end %>

    </div>
  </div>
</section>
