<nav class="navbar" style="position: fixed; top: 0; left: 0; right: 0; z-index:999999;">
  <div class="navbar-brand">

    <div id="webappDropdown" class="dropdown">
      <div class="dropdown-trigger">
        <button class="button">
          <span>Navigation</span>
          <span class="icon is-small">
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          
          <%= link_to availabilities_path, :class => "dropdown-item" do %>
            <span class="custom-icon">
              <i class="fa fa-terminal"></i>
            </span>
            Get Interviewed
          <% end %>

          <%= link_to myAvailability_path, :class => "dropdown-item" do %>
            <span class="custom-icon">
              <i class="fa fa-comments-o"></i>
            </span>
            Interview Others
          <% end %>

          <%= link_to upcoming_interviews_path, :class => "dropdown-item" do %>
            <span class="custom-icon">
              <i class="fa fa-calendar"></i>
            </span>
            Upcoming
          <% end %>

          <a class="dropdown-item">
            <span class="custom-icon">
              <i class="fa fa-bar-chart"></i>
            </span>
            Completed
          </a>

          <%= link_to users_path, :class => "dropdown-item" do %>
            <span class="custom-icon">
              <i class="fa fa-address-book-o"></i>
            </span>
            Member Directory
          <% end %>

          <a href="/" class="dropdown-item">
            <span class="custom-icon">
              <i class="fa fa-angle-double-left"></i>
            </span>
            Back to Website
          </a>
          
          <%= link_to user_path(@curr_user), :class => "dropdown-item" do %>
            <span class="custom-icon">
              <i class=" icon-flipped fa fa-gears"></i>
            </span>
            Settings
          <% end %>

          <a rel="nofollow" data-method="delete" href="/logout" class="dropdown-item">
            <span class="custom-icon">
              <i class=" icon-flipped fa fa-sign-out"></i>
            </span>
            Log Out
          </a>
          
        </div>
      </div>
    </div>
  </div>
  <script>
    let dropdown = document.getElementById('webappDropdown');
    dropdown.addEventListener('click', function(event) {
      event.stopPropagation();
      dropdown.classList.toggle('is-active');
    });
  </script>
</nav>
