<nav class="navbar sticky-top navbar-toggleable-md navbar-light nav">
  <%= link_to image_tag("codeology_logo.png", height:"40x40"), root_path, :class => "navbar-brand"%>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to_nav_item "Home", root_path, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to_nav_item "Calendar", calendar_path, :class => "nav-link" %>
      </li>
      <% if user_is_logged_in? %>
        <li class="nav-item">
          <% if current_user.is_admin %>
            <%= link_to_nav_item "Admin", "", :class => "nav-link" %>
          <% end %>
          <%= link_to_nav_item "Dashboard", "", :class => "nav-link" %>
          <%= link_to_nav_item "Schedule", "", :class => "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "FAQ", "", :class => "dropdown-item" %>
            <%= link_to "Team", "", :class => "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">Your next interview time is ...</h6>
            <%= link_to "Profile", user_path(current_user), :class => "dropdown-item" %>
            <%= link_to "Report a Bug", "", :class => "dropdown-item" %>

            <div class="dropdown-divider"></div>
            <%= link_to "Sign out", logout_path, method: :delete, :class => "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">

        </li>
        <li class="nav-item">
          <%= link_to_nav_item "Member Login", login_path, :class => "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
