<nav id="nav"; class="navbar" style="position: fixed; top: 0; left: 0; right: 0; z-index:999999;">
  <div class="navbar-brand" style="box-shadow: 0px 0px 12px 0px #AAAAAA">
    <%= link_to image_tag("codeology_logo.png"), root_path, :class => "navbar-item"%>
    
    <a class="navbar-item" href="https://github.com/CodeologyClub" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>
    <a class="navbar-item" href="https://www.linkedin.com/company/berkeley-codeology/" target="_blank">
      <span class="icon" style="color: #007bb6;">
        <i class="fa fa-lg fa-linkedin-square"></i>
      </span>
    </a>
    <a class="navbar-item" href="https://www.facebook.com/berkeleycodeology/" target="_blank">
      <span class="icon" style="color: #3B5998;">
        <i class="fa fa-lg fa-facebook-f"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
		</div>
  </div>
  
  <div class="navbar-menu" id="navbarMenu">
  	<div class="navbar-end">
      <%= link_to_nav_item "Home", root_path, :class => "navbar-item custom-nav-item" %>
      <%= link_to_nav_item "About", about_path, :class => "navbar-item custom-nav-item" %>
      <%= link_to_nav_item "Projects", projects_path, :class => "navbar-item custom-nav-item" %>
      <%= link_to_nav_item "Calendar", calendar_path, :class => "navbar-item custom-nav-item" %>
      <%= link_to_nav_item "Apply", apply_path, :class => "navbar-item custom-nav-item" %>
      
      <% if user_is_logged_in? %>  
        <%= link_to_nav_item "Dashboard", dashboard_path, :class => "navbar-item custom-nav-item" %>      
        <%= link_to_nav_item "Logout", logout_path, method: :delete, :class => "navbar-item custom-nav-item" %>
      <% else %>
        <%= link_to_nav_item "Login", login_path, :class => "navbar-item custom-nav-item" %>
      <% end %>
      <!---->

    </div>
  </div>
  <script type="text/javascript"> 
    navBarPopulate();
  </script>
</nav>
