<nav id="nav"; class="navbar" style="position: fixed; top: 0; left: 0; right: 0; z-index:999999;">
  <div class="navbar-brand">
    <%= link_to image_tag("codeology_logo.png", height:"40x40"), root_path, :class => "navbar-item"%>
  </div>
  
  <div class="navbar-menu" id="navbarMenu">
  	<div class="navbar-end">
      <%= link_to_nav_item "Home", root_path, :class => "navbar-item" %>
      <%= link_to_nav_item "Calendar", calendar_path, :class => "navbar-item" %>
      <% if user_is_logged_in? %>
      <!-- Don't worry about this case yet...will fix 100% after user system is implemented -->
      
      <!-- COMMENTING THIS OUT TO AVOID COLOR CLUTTER
        <li class="navbar-item">
          <% if current_user.is_admin %>
            <%= link_to_nav_item "Admin", "", :class => "nav-link" %>
          <% end %>
          <%= link_to_nav_item "Dashboard", "", :class => "nav-link" %>
          <%= link_to_nav_item "Schedule", "", :class => "nav-link" %>
        </li>
        <li class="navbar-dropdown">
          <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "FAQ", "", :class => "dropdown-item" %>
            <%= link_to "Team", "", :class => "dropdown-item" %>
          </div>
        </li>
        <li class="navbar-dropdown">
          <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">Your next interview time is ...</h6>
            <%= link_to "Profile", user_path(current_user), :class => "dropdown-item" %>
            <%= link_to "Report a Bug", "", :class => "dropdown-item" %>

            <div class="dropdown-divider"></div>
            <%= link_to "Sign out", logout_path, method: :delete, :class => "dropdown-item" %>
          </div>
        </li> 
      -->
      
      <!-- End of user_is_logged_in case -->
      <% else %>
      <%= link_to_nav_item "Member Login", login_path, :class => "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
