<!-- NAVIGATION BAR -->
<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <a data-target="mobile-nav" class="sidenav-trigger"><i class="grey-text text-darken-3 fa fa-3x fa-bars"></i></a>
    </div>
  </nav>
</div>

<ul class="sidenav fixed-sidenav" id="mobile-nav">
  <li><div class="user-view">
    <%= link_to dashboard_path do %>
      <%= image_tag("codeology_logo_padded.png", alt: "logo", class: "is-rounded")  %>
    <% end %>
    <%= link_to user_path(@curr_user), :class => "grey-text text-darken-3 name" do %>
      @curr_user.name
    <% end %>
    <%= link_to user_path(@curr_user), :class => "grey-text text-darken-3 name" do %>
      @curr_user.email
    <% end %>
  </div></li>

  <li><%= link_to availabilities_path, :class => "grey-text text-darken-3" do %><i class="material-icons">cloud</i> Get Interviewed <% end %></li>
  <li><%= link_to myAvailability_path, :class => "grey-text text-darken-3" do %> Interview Others <% end %></li>
  <li><%= link_to upcoming_interviews_path, :class => "grey-text text-darken-3" do %> Upcoming <% end %></li>
  <li><%= link_to past_interviews_path, :class => "grey-text text-darken-3" do %> Completed <% end %></li>
  <li><%= link_to users_path, :class => "grey-text text-darken-3" do %> Member Directory <% end %></li>
  <li><%= link_to root_url, :class => "grey-text text-darken-3" do %> Back to Website <% end %></li>
  <li><%= link_to user_path(@curr_user), :class => "grey-text text-darken-3" do %> Settings <% end %></li>
  <li><a rel="nofollow" data-method="delete" href="/logout" class="grey-text text-darken-3">Log Out</a></li> 
</ul>

<script type="text/javascript"> 
  $('.sidenav').sidenav();
</script>