<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="QFnKlIoSssBp0lO6N1Vv7k-naWkoNtFhWtt9HrQD4uA" />
    <meta charset="UTF-8">
    <link href="./../../assets/mini_logo.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title><%= yield :title || "Codeology" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="main-container">
    <%= render "layouts/navbar" %>

    <div class="container" id="main-content" style="padding: 0px">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <!-- Without any arguments, yield will render the template of the current controller/action -->
    </div>
  </div>
  <%= yield %>
  </body>
</html>
