<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="QFnKlIoSssBp0lO6N1Vv7k-naWkoNtFhWtt9HrQD4uA" />
    <title><%= yield :title || "Codeology" %></title>
    <link href="./../../assets/mini_logo.png" rel="icon">
    <%= csrf_meta_tags %>
    
    <!-- STYLESHEETS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla|Roboto">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <!-- NAVBAR -->
    <div>
    <%= render "layouts/navbar" %>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main-content-container" class="">
      <!-- NOTIFICATIONS -->
      <% if flash.any? %>
      <div class="container is-round collection has-text-centered">
        <% flash.each do |key, value| %>
          <p class="collection-item is-<%= key %>"><%= value %></p>
        <% end %>
      <% end %>
      </div>

      <%= yield %>
    </div>
  </body>

  <footer class="page-footer grey lighten-2">
    <div class="container">
     
    </div>
    <div class="footer-copyright grey lighten-2">
      <div class="container">
        <div class="row has-text-centered">
          <div class="col s4">
            <a class="" href="https://github.com/CodeologyClub" target="_blank">
              <span class="icon" style="color: #333;">
                <i class="fa fa-lg fa-github"></i>
              </span>
            </a>
          </div>
          <div class="col s4">
            <a class="" href="https://www.linkedin.com/company/berkeley-codeology/" target="_blank">
              <span class="icon" style="color: #007bb6;">
                <i class="fa fa-lg fa-linkedin-square"></i>
              </span>
            </a>
          </div>
          <div class="col s4">
            <a class="" href="https://www.facebook.com/berkeleycodeology/" target="_blank">
              <span class="icon" style="color: #3B5998;">
                <i class="fa fa-lg fa-facebook-f"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
