<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="QFnKlIoSssBp0lO6N1Vv7k-naWkoNtFhWtt9HrQD4uA" />
    <title><%= yield :title || "Codeology" %></title>
    <!--<link href="./../../assets/mini_logo.png" rel="icon">-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    
    <!-- STYLESHEETS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla|Roboto">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!-- NAVPANEL -->
    <%= render "layouts/sideNav" %>


    <!-- MAIN CONTENT -->
    <div class="adjustable-container">
      <!-- NOTIFICATIONS -->
      <% if flash.any? %>
      <div class="container is-round collection has-text-centered">
        <% flash.each do |key, value| %>
          <p class="collection-item is-<%= key %>"><%= value %></p>
        <% end %>
      </div>
      <% end %>
      <!-- YIELD PAGE -->
      <%= yield %>
    </div>
  </body>
</html>