<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="QFnKlIoSssBp0lO6N1Vv7k-naWkoNtFhWtt9HrQD4uA" />
    <title><%= yield :title || "Codeology" %></title>
    <link href="./../../assets/mini_logo.png" rel="icon">
    <%= csrf_meta_tags %>
    
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla|Roboto">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body onresize="adjustForMobile()">
    <!-- NAVPANEL -->
    <div id="sideNavPanel" class="sideNav is-hidden-mobile">
    <%= render "layouts/sideNav" %>
    </div>
    
    <!-- DropDown menu -->
    <div class="is-hidden-tablet">
    <%= render "layouts/dropdownSideNav"%>
    </div>

    <!-- NAVPANEL TOGGLE -->
    <!--
    <div id="sideNavToggleOn">
      <button onclick="openNav()" class="button sideNav-toggle">
        <span class="panel-icon has-text-grey-darker">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </span>
      </button>
    </div>

    <div id="sideNavToggleOff" class="is-hidden-desktop">
      <button onclick="closeNav()" class="button sideNav-toggle">
        <span class="panel-icon has-text-grey-darker">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    -->

    <!-- MAIN CONTENT -->
    <div id="resize-content-container" class="">
      <!-- BODY --><!-- NOTIFICATIONS -->
      <div class="container is-fluid extra-navbar-padding">
        <% flash.each do |key, value| %>
          <div class="has-text-centered notification is-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
  
  <script type="text/javascript"> 
    adjustForMobile();
  </script>
</html>
