<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="QFnKlIoSssBp0lO6N1Vv7k-naWkoNtFhWtt9HrQD4uA" />
    <title><%= yield :title || "Codeology" %></title>
    <link href="./../../assets/mini_logo.png" rel="icon">
    <%= csrf_meta_tags %>
    
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla|Roboto">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!-- NAVPANEL -->
    <%= render "layouts/sideNav" %>


    <!-- MAIN CONTENT -->
    <div id="container" class="">
      <!-- NOTIFICATIONS -->
      <div class="container is-fluid extra-navbar-padding">
        <% flash.each do |key, value| %>
          <div class="has-text-centered notification is-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <!-- YIELD PAGE -->
      <%= yield %>
    </div>
  </body>
</html>